<div class="row">
    <p>{{#link-to 'tasks' }}Back to tasks{{/link-to}}</p>
    <article id="task">
        <h5>Created:</h5>

        <p>{{model.created}}</p>

        <h5>Title:</h5>

        <p>{{model.title}}</p>
        <h5>Description:</h5>

        <p>{{model.description}}</p>
    </article>

    {{link-to 'edit' 'task.edit' model class="btn btn-primary"}}
    <button class="btn btn-danger" {{action delete}}>Delete</button>

    {{outlet}}
    <h4>Comments:</h4>
    <ol>
        {{#each comment in controller.comments}}
            <li> <b>created:</b> {{comment.created}}<p>{{comment.text}}</p></li>
        {{/each}}
    </ol>

    {{outlet 'comments_new'}}
</div>
